# Якщо різниця між двома кастами Fishing менша за це значення (в секундах),
# вважається "дуже частою" і збільшується лічильник підозр.
FishbotDetector.MinInterval = 10

# Скільки разів поспіль можна "зловити" дуже частий каст рибалки,
# перш ніж згенерувати попередження.
FishbotDetector.MaxStrikes  = 5